$navbar-default-bg:#2f2e59;
@import "bootstrap-sprockets";
@import "bootstrap";

.center{
    text-align: center;
}
.jumbotron{
    background-image: asset-url('cover_image.png');
    background-size: cover;
    height: 450px;
}
#logo{
    float:left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: #fff;
    text-decoration: none;
}
.jumbotron h1{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}
.jumbotron h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}
h2{
    color: #7f8ab1;
}
.btn-xlarge{
    background-color: #2f2e59;
}
.btn-xlarge:hover {
    color: #fff;
    text-decoration: none;
}
.my-f{
    color:#fff;
}
.my-f1{
    color: #fff;
}
.my-f2{
    color: #fff;
}
.description{
    margin-top: 0;
}
.well a{
    color:#2f2e59;
}
.colormatch a {
    color:#2f2e59;
}
.recipe-actions {
    padding-top: 5px;
    a {
      color: #fff;
    }
  }

